# Custom
data/
cls_sweep
notes
compile_commands.json

# Executables & object files
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.exe
*.out

# Makefile outputs
*.d
*.d.*
*.pp
*.s
*.s.*

# Debug info
# *.pdb
# *.dSYM/
# *.map

# mac stuff
.DS_Store

# claude
.claude/

